<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.com">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<header th:insert="fragments/headerHP.html :: header"></header>
	<Div>Log In Page</Div>

	<form method="post" th:action="@{/login}">
		<div th:if="${param.error}">
			<div class="error">Invalid username or password.</div>
		</div>
		<div th:if="${param.logout}">
			<div class="error">You have been logged out.</div>
		</div>

		<div>
			Username: <input type="text" name="username" /><br> Password: <input
				type="password" name="password" /><br> <input type="submit"
				name="login-submit" value="Log In" />
		</div>
		<p>
			If you want to register, click <a href="/secure"
				th:href="@{/register}">here</a>.
		</p>
		<p>
			<a href="/" th:href="@{/}">Back to home page</a>
		</p>
	</form>

</body>
</html>