<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.com">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<header th:insert="fragments/headerHP.html :: header"></header>

	<h1>Register Here!</h1>
	<div id="error" class="error"></div>
	<form name="form" action="#" th:action="@{/register}" method="post"
		onsubmit="return verify()">
		<div th:if="${param.loginError}">
			<div class="error">Invalid username or password.</div>
		</div>
		<div id="auth">
			Username: <input type="text" name="username" /><br> 
			Email: <input type="email" name="email" /><br>
			Re-enter Email: <input type="email" name="re-email" /><br>	
			Password: <input type="password" name="password" /><br>
			Verify Password: <input type="password" name="verifyPassword" /><br>
		</div>
		<div th:if="${param.credErr}">
			<div class="error">Invalid username or password.</div>
		</div>
		<div id="contactInfo">
			First Name: <input type="text" name="firstName" /> <br>
			Last Name:<input type="text" name="lastName" /> <br>
			Phone Number:<input type="number" name="phoneNumber" /> <br>
			Street Address:<input type="text" name="streetAddress" /> <br>
			City:<input type="text" name="city" /> <br>
			Province:<input type="text" name="province" /> <br>
			Country:<input type="text" name="country" /> <br>
			Postal Code:<input type="text" name="postalCode" /> <br>
		 </div>
		  
		 <input	type="submit" value="Add User">
	</form>
</body>
</html>