<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Permission Denied</title>
<link rel="stylesheet" type="text/css" media="all"
href="../static/css/mycss.css" th:href="@{/css/mycss.css}" />

</head>
<body>
<div class="context">
	<h1>Permission denied</h1>
	<p>
		<a href="/" th:href="@{/}">Back to home page</a>
	</p>
	<p>
		<a href="#" th:href="@{/logout}">Logout</a>
	</p>
	</div>
	<div class="area">
		<ul class="circles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</body>
</html>